html {
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Overpass', sans-serif;
}

body {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--grey);
	margin: 0;
	padding: 1.7rem;
	height: calc(100vh - 3.4rem);
}
