html {
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}

body {
	color: var(--black);
	background-color: var(--white);
	margin: 0;
	padding: 5rem 3.4rem;
	height: calc(100vh - 10rem);

	&.dark-mode {
		background-color: var(--grey);
	}
}
