.container {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 5rem);
	padding-top: 4.5rem;

	&.is-visible {
		display: flex;

		@include for-desktop {
			display: grid;
		}
	}

	@include for-tablet-portrait-up {
		height: calc(100vh - 10rem);
	}

	@include for-desktop {
		grid-template-columns: 37.5rem 31.8rem;
		grid-template-rows: 42.7rem min-content;
		padding: 0 0 10rem 0;
		align-content: center;
		gap: 0 10rem;
	}

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 10rem;
		background-color: var(--top-bottom-bar-color);
		bottom: 0;
	}
}

.tiles-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(4.5rem, 1fr));
	grid-template-rows: repeat(4, minmax(4.5rem, 1fr));
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	gap: 0.5rem;
	height: 100%;
	min-width: 17.5rem;
	align-self: start;
	width: 70%;

	@include for-tablet-portrait-up {
		gap: 1rem;
		margin: 0 auto;
		min-width: 25.9rem;
		width: 60%;
	}

	@include for-desktop {
		grid-row: 1 / 3;
		gap: 1.5rem;
		height: 100%;
		margin: 0;
		width: 100%;
	}

	&__tile {
		border-radius: 0.3rem;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

		&:nth-child(1),
		&:nth-child(2) {
			background: linear-gradient(
				to bottom right,
				var(--red-light),
				var(--red-dark)
			);
			animation: fade-in 1s forwards ease-in-out;
			transform: translateX(-1000px);
		}

		&:nth-child(3),
		&:nth-child(4) {
			background: linear-gradient(
				to bottom right,
				var(--blue-light),
				var(--blue-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.07s;
			transform: translateX(-1000px);
		}

		&:nth-child(5),
		&:nth-child(6) {
			background: linear-gradient(
				to bottom right,
				var(--green-light),
				var(--green-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.14s;
			transform: translateX(-1000px);
		}

		&:nth-child(7),
		&:nth-child(8) {
			background: linear-gradient(
				to bottom right,
				var(--yellow-light),
				var(--yellow-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.21s;
			transform: translateX(-1000px);
		}

		&:nth-child(9),
		&:nth-child(10) {
			background: linear-gradient(
				to bottom right,
				var(--pink-light),
				var(--pink-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.28s;
			transform: translateX(-1000px);
		}

		&:nth-child(11),
		&:nth-child(12) {
			background: linear-gradient(
				to bottom right,
				var(--brown-light),
				var(--brown-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.35s;
			transform: translateX(-1000px);
		}

		&:nth-child(13),
		&:nth-child(14) {
			background: linear-gradient(
				to bottom right,
				var(--black-light),
				var(--black-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.42s;
			transform: translateX(-1000px);
		}

		&:nth-child(15),
		&:nth-child(16) {
			background: linear-gradient(
				to bottom right,
				var(--purple-light),
				var(--purple-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.49s;
			transform: translateX(-1000px);
		}

		&:nth-child(17),
		&:nth-child(18) {
			background: linear-gradient(
				to bottom right,
				var(--light-blue-light),
				var(--light-blue-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.56s;
			transform: translateX(-1000px);
		}

		&:nth-child(19),
		&:nth-child(20) {
			background: linear-gradient(
				to bottom right,
				var(--orange-light),
				var(--orange-dark)
			);
			animation: fade-in 1s forwards ease-in-out 0.63s;
			transform: translateX(-1000px);
		}
	}
}

.start-button {
	cursor: pointer;
	background-color: var(--background-color);
	box-shadow: var(--shadow-outer);
	color: var(--text-color);
	border-radius: 0.3rem;
	padding: 0;
	width: 17.4rem;
	height: 5.2rem;
	line-height: 5.2rem;
	border: none;
	font-family: 'Nunito', sans-serif;
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	margin: 4rem 0;

	@include for-tablet-portrait-up {
		box-shadow: var(--shadow-outer-min600px);
		width: 25.9rem;
		height: 7.6rem;
		line-height: 7.6rem;
		font-size: 4.5rem;
	}

	@include for-desktop {
		width: 31.8rem;
		grid-row: 2 / 3;
		margin: 0;
		align-self: end;
	}

	&:active {
		box-shadow: var(--shadow-inner);

		@include for-tablet-portrait-up {
			box-shadow: var(--shadow-inner-min600px);
		}
	}
}

.wrapper {
	display: flex;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 10;

	&__score-text {
		color: white;
		font-size: 2rem;
		text-align: center;

		@include for-tablet-portrait-up {
			font-size: 3.5rem;
		}

		@include for-desktop {
			font-size: 5rem;
		}

		.time {
			display: inline-block;
			animation: puls-text 2s forwards ease-in-out;
			transform: scale(1.25);
			color: red;
			font-weight: bold;
		}
	}
}

[data-width='portrait'] {
	width: auto;
}

[data-width='800'] {
	width: 80rem;
}

[data-width='930'] {
	width: 93rem;
}

[data-grid-columns='4'] {
	grid-template-columns: repeat(4, minmax(4.5rem, 1fr));
}

[data-grid-rows='4'] {
	grid-template-rows: repeat(4, minmax(1.5rem, 1fr));
}

[data-grid-rows='5'] {
	grid-template-rows: repeat(5, minmax(4rem, 1fr));
}

[data-grid-rows='6'] {
	grid-template-rows: repeat(6, minmax(3rem, 1fr));
}

[data-margin-tiles='medium'] {
	margin: 0 0 4.5rem 0;

	@include for-tablet-portrait-up {
		margin: 0 0 6.5rem 0;
	}

	@include for-desktop {
		margin: 0;
	}
}

[data-margin-tiles='small'] {
	margin: 0 0 3.5rem 0;

	@include for-tablet-portrait-up {
		margin: 0 0 5.7rem 0;
	}

	@include for-desktop {
		margin: 0;
	}
}
