.tiles-container {
	list-style-type: none;
	margin: 0;
	padding: 2rem;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	display: none;
	height: 100vh;

	&.is-visible {
		display: grid;
	}

	&.four-columns {
		grid-template-columns: repeat(4, 1fr);
	}

	&__tile {
		border-radius: var(--radius);
		box-shadow: var(--shadow-outer);
		width: 100%;
		height: 100%;
		cursor: pointer;

		&.clicked {
			pointer-events: none;
		}

		&.guessed {
			box-shadow: var(--shadow-inner);
			display: flex;
			justify-content: center;
			align-items: center;
			pointer-events: none;

			.fa-check {
				font-size: calc(8vh - 1rem);
				color: var(--text-color);
			}
		}

		&.black {
			background: linear-gradient(
				to right bottom,
				var(--black-light),
				var(--black-dark)
			);
		}

		&.purple {
			background: linear-gradient(
				to right bottom,
				var(--purple-light),
				var(--purple-dark)
			);
		}

		&.light-blue {
			background: linear-gradient(
				to right bottom,
				var(--light-blue-light),
				var(--light-blue-dark)
			);
		}

		&.orange {
			background: linear-gradient(
				to right bottom,
				var(--orange-light),
				var(--orange-dark)
			);
		}

		&.red {
			background: linear-gradient(
				to right bottom,
				var(--red-light),
				var(--red-dark)
			);
		}

		&.blue {
			background: linear-gradient(
				to right bottom,
				var(--blue-light),
				var(--blue-dark)
			);
		}

		&.green {
			background: linear-gradient(
				to right bottom,
				var(--green-light),
				var(--green-dark)
			);
		}

		&.yellow {
			background: linear-gradient(
				to right bottom,
				var(--yellow-light),
				var(--yellow-dark)
			);
		}

		&.pink {
			background: linear-gradient(
				to right bottom,
				var(--pink-light),
				var(--pink-dark)
			);
		}

		&.brown {
			background: linear-gradient(
				to right bottom,
				var(--brown-light),
				var(--brown-dark)
			);
		}
	}
}

[data-rows='4'] {
	grid-template-rows: repeat(4, 1fr);
}

[data-rows='5'] {
	grid-template-rows: repeat(5, 1fr);
}

[data-rows='6'] {
	grid-template-rows: repeat(6, 1fr);
}
