.top-bar {
	background-color: var(--top-bottom-bar-color);
	align-items: center;
	justify-content: space-between;
	display: flex;
	padding: 0 2rem;
	height: 5rem;

	@include for-tablet-portrait-up {
		height: 10rem;
		padding: 0 4rem;
	}

	&__title {
		color: var(--text-color);
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
		margin: 0;
		text-transform: uppercase;

		@include for-tablet-portrait-up {
			font-size: 3.8rem;
		}
	}
}

.switch-mode-container {
	position: relative;

	&__switch {
		position: absolute;
		margin: 0;
		left: -9999px;

		&:checked + label {
			background-color: var(--text-color);
		}

		&:checked + label::before {
			background-color: var(--background-color);
			left: 1.8rem;
			transform: translateX(-100%);

			@include for-tablet-portrait-up {
				left: 2.6rem;
			}
		}
	}

	&__switch-label {
		cursor: pointer;
		width: 4rem;
		height: 2rem;
		background: var(--text-color);
		display: block;
		border-radius: 100px;
		position: relative;
		margin: 0 0.5rem;

		@include for-tablet-portrait-up {
			width: 5.7rem;
			height: 2.8rem;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0.2rem;
			left: calc(100% - 1.8rem);
			width: 1.6rem;
			height: 1.6rem;
			background: var(--top-bottom-bar-color);
			border-radius: 100%;
			transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

			@include for-tablet-portrait-up {
				top: 0.2rem;
				left: calc(100% - 2.6rem);
				width: 2.4rem;
				height: 2.4rem;
			}
		}
	}

	.fas {
		font-size: 1.4rem;
		opacity: 0;
		transition: opacity 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

		@include for-tablet-portrait-up {
			font-size: 2.2rem;
		}
	}

	.fa-moon {
		left: 0.2rem;
		top: 0.3rem;
		color: var(--black);
		position: absolute;
		z-index: 1;

		&.isVisible {
			opacity: 1;
		}
	}

	.fa-sun {
		top: 0.3rem;
		right: 0.3rem;
		color: var(--background-color);
		position: absolute;
		z-index: 1;

		&.isVisible {
			opacity: 1;
		}
	}
}
