:root {
	--black-light: #4d4d4d;
	--black-dark: #1d1d1d;
	--purple-light: #8000ff;
	--purple-dark: #6500c9;
	--light-blue-light: #00c2ff;
	--light-blue-dark: #0099c9;
	--orange-light: #ff9900;
	--orange-dark: #c57600;
	--red-light: #f50707;
	--red-dark: #aa0000;
	--blue-light: #0000ff;
	--blue-dark: #0000aa;
	--green-light: #00ff00;
	--green-dark: #00aa00;
	--yellow-light: #e8ff00;
	--yellow-dark: #a8b500;
	--pink-light: #ff00e6;
	--pink-dark: #b500a3;
	--brown-light: #a43c00;
	--brown-dark: #572000;

	--grey: #696969;
	--white: #ececec;
	--black: #0a0a0a;

	--radius: 1rem;
}
