:root {
	--black-light: #4d4d4d;
	--black-dark: #1d1d1d;
	--purple-light: #8000ff;
	--purple-dark: #6500c9;
	--light-blue-light: #00c2ff;
	--light-blue-dark: #0099c9;
	--orange-light: #ff9900;
	--orange-dark: #c57600;
	--red-light: #f50707;
	--red-dark: #aa0000;
	--blue-light: #0000ff;
	--blue-dark: #0000aa;
	--green-light: #00ff00;
	--green-dark: #00aa00;
	--yellow-light: #e8ff00;
	--yellow-dark: #a8b500;
	--pink-light: #ff00e6;
	--pink-dark: #b500a3;
	--brown-light: #a43c00;
	--brown-dark: #572000;
	--black: #0a0a0a;
	--radius: 1rem;
}

[data-colormode='dark'] {
	--background-color: #717171;
	--text-color: #ececec;
	--top-bottom-bar-color: #4d4b4b;

	--shadow-outer: 5px 5px 8px 0 #5a5a5a, -5px -5px 8px 0 #888888;
	--shadow-inner: inset 5px 5px 8px 0 #5a5a5a, inset -5px -5px 8px 0 #888888;

	--shadow-outer-min600px: 8px 8px 15px #5a5a5a, -8px -8px 15px #888888;
	--shadow-inner-min600px: inset 8px 8px 15px #5a5a5a,
		inset -8px -8px 15px #888888;

	--small-shadow-outer: 2px 2px 3px 0 #3e3c3c, -2px -2px 3px 0 #5c5a5a;
	--small-shadow-inner: inset 2px 2px 3px 0 #3e3c3c,
		inset -2px -2px 3px 0 #5c5a5a;

	--small-shadow-outer-min600px: 3px 3px 6px 0 #3e3c3c, -3px -3px 6px 0 #5c5a5a;
	--small-shadow-inner-min600px: inset 3px 3px 6px 0 #3e3c3c,
		inset -3px -3px 6px 0 #5c5a5a;
}

[data-colormode='light'] {
	--background-color: #ececec;
	--text-color: #0a0a0a;
	--top-bottom-bar-color: #d4d4d4;

	--shadow-outer: 5px 5px 8px 0 #bdbdbd, -5px -5px 8px 0 #ffffff;
	--shadow-inner: inset 5px 5px 8px 0 #bdbdbd, inset -5px -5px 8px 0 #ffffff;

	--shadow-outer-min600px: 8px 8px 15px #bdbdbd, -8px -8px 15px #ffffff;
	--shadow-inner-min600px: inset 8px 8px 15px #bdbdbd,
		inset -8px -8px 15px #ffffff;

	--small-shadow-outer: 2px 2px 3px 0 #aaaaaa, -2px -2px 3px 0 #fefefe;
	--small-shadow-inner: inset 2px 2px 3px 0 #aaaaaa,
		inset -2px -2px 3px 0 #fefefe;

	--small-shadow-outer-min600px: 3px 3px 6px 0 #aaaaaa, -3px -3px 6px 0 #fefefe;
	--small-shadow-inner-min600px: inset 3px 3px 6px 0 #aaaaaa,
		inset -3px -3px 6px 0 #fefefe;
}
